---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Labellum - Blog</title>
    </head>

    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>

        <h1>My amazing blog about developing this website with Astro</h1>

        <h3>12th of June :: 2025</h3>
        <p>I made this page! 😃</p>
        <ul>
            <li><a href="/posts/post-12-06-2025/">Post 12th of June 2025</a></li>
        </ul>
    </body>
</html>
